<header>
    <div id="lisere"></div>
    <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" id="linkLogo">
            <img src="/Logo Transparent Carmin.png" alt="GS logo">
        </a>
        <div id="menu">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
            <a routerLink="projetsList" routerLinkActive="active">Projets</a>
            <a routerLink="contact" routerLinkActive="active">Contact</a>
        </div>
    </nav>
</header>
