header {
    text-align: center;
    background-color: var(--neutral-0);
    position: sticky;
    top: 0px;
    border-bottom: 1px solid var(--neutral-100);
}

#lisere {
    background-color: var(--carmin-500);
    height: 16px;
}

nav {
    margin: 0 auto 0 auto;
    max-width: var(--screen);
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    img {
        height: 64px;
    }
    #linkLogo {
        height: 64px;
    }
}

#menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 16px;
    flex-grow: 1;
    margin-right: 16px;
    a {
        color: var(--neutral-600);
        font-weight: 700;
        text-decoration: none;
        &:hover {
            color: var(--neutral-950);
        }
    }
    .active {
        color: var(--carmin-500);
        &:hover {
            color: var(--carmin-500);
        }
    }
}

