header {
    backdrop-filter: blur(8px);
    background-color: #F8EDEFdd;
    position: sticky;
    top: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#lisere {
    background-color: var(--carmin-700);
    height: 16px;
}

nav.container {
    width: 100vw;
}

#contentNav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    img {
        height: 64px;
    }
    #buttonMenu {
        display: none;
        padding: 0.75rem;
        margin: 0.5rem 1rem 0.5rem 0;
        border: 0;
        background-color: transparent;
        border-radius: 100%;
        &:hover {
            background-color: var(--neutral-300);
        }
    }
    #linkLogo {
        height: 64px;
        padding-block: 0.5rem;
    }
}

#menu {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    align-content: center;
    flex-grow: 1;
    a {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        color: var(--neutral-700);
        font-weight: 700;
        text-decoration: none;
        &:hover {
            color: var(--neutral-0);
            background-color: var(--carmin-700);
        }
    }
    .active {
        color: var(--carmin-700);
        &:hover {
            color: var(--neutral-0);
        }
    }
}

//spacing
//resolution
@media only screen and (max-width: 768px) {
    #lisere {
        height: 8px;
    }
    #contentNav {
        justify-content: flex-start;
        img {
            height: 48px;
        }
        #buttonMenu {
            display: flex;
            align-items: center;
            img {
                height: 24px;
            }
        }
        #linkLogo {
            height: 48px;
        }
    }
    #menu {
        display: none;
    }
}