<header>
    <div id="lisere"></div>
    <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="/Logo Transparent Carmin.png" alt="GS logo">
        </a>
        <div id="menu">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
            <a routerLink="projets" routerLinkActive="active">Études de cas</a>
            <a>Contact</a>
        </div>
    </nav>
</header>
