footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
    background-color: var(--neutral-900);
    span {
        color: var(--neutral-0);
        font-size: 12px;
    }
}
