<div class="container" id="projet">
    <div class="content">
        <div id="headerProjetDetail">
            <p id="labels">{{ projet.label }}</p>
            <h1>{{ projet.title }}</h1>
            <p id="description">{{ projet.description }}</p>
        </div>
        <img class="banner" [src]="projet.imageBannerUrl" [alt]="projet.imageBannerAlt">
        <div [innerHTML]="this.htmlContent"></div>
        `<div class="contentProjetDetail">
            <h2>Résumé du projet</h2>
            <p>Eiko est une association ayant pour but de développer des outils numériques innovants pour encourager une démocratie active et une participation citoyenne engagée. Elle met en avant les initiatives locales et en valorisant chaque engagement individuel, nous visons à transformer les petits pas en grandes avancées pour notre planète.</p>
            <p>Eiko s’est associée avec la ville de Meudon (92) pour lancer une application pour renforcer la conscience écologique et encourager les pratiques durables : le “Défi Famille Zéro Déchet”. Cette collaboration incite les familles de Meudon à réduire de manière significative leurs déchets ménagers.</p>
            <h2>Quel était le problème ?</h2>
            <p>Meudon a lancé son initiative il y a deux ans. Elle demande aux familles de peser les déchets qu’elles produisent et de renvoyer les données par email. C’est chronophage pour la mairie et peu pratique pour les participants.</p>
            <h2>Quelle est la solution retenue ?</h2>
            <p>Dans un premier temps, le périmètre d’un MVP est décidé. L’objectif est de créer une application permettant aux participants du défi :</p>
            <ul>
                <li>Enregistrer les pesées selon le type de déchet</li>
                <li>Suivre l’évolution de la production de déchets par mois</li>
                <li>Consulter l’historique de saisie</li>
            </ul>
            <p>Les objectifs pour la ville de Meudon sont de supprimer l’envoi des pesées par email et créer une base de données. Pour Eiko, le but est de créer une application qu’elle pourra proposer à d’autres collectivités.</p>
            <h2>Quel était mon rôle dans l’équipe ?</h2>
            <ul>
                <li>5 UX Designer (dont moi)</li>
                <li>3 Développeurs</li>
                <li>Le président de l’association</li>
                <li>1 Scrum master</li>
                <li>2 testeurs</li>
            </ul>
        </div>
        <img class="banner" src="get+help+banner.png" alt="Aide en ligne - interfaces">
    </div>
</div>
