#hero {
    min-height: calc(100vh - 88px - (2 * var(--padding-v)));
    padding-block: var(--padding-v);
    padding-top: calc(var(--padding-v) + 88px);
    img {
        max-width: 280px;
        object-fit: cover;
        object-position: center;
        image-rendering: auto;
        border-radius: 50%;
        border: 16px solid var(--primary);
        margin-block: 2rem;
    }
}

#citation, #expertise, #funfacts, #testimonials {
    padding-block: var(--padding-v);
}

#citation {
    background-color: var(--primary);
    h2 {
        font-weight: 400;
        max-width: 768px;
        
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    // .author {
    //     font-weight: 600;
    // }
}

#expertise {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blockExpertise {
        padding: 2rem 2rem;
        .iconLucide {
            color: var(--primary);
        }
        &:hover {
            .iconLucide, .title {
                color: var(--secondary);
            }
        }
    }
    app-button {
        margin-top: 2rem;
    }
}

#funfacts {
    .funfact {
        img {
            display: block;
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: center;
            image-rendering: auto;
        }
        .funfactText {
            padding: 0 2rem 1rem 2rem;
        }
        &:hover {
            h3 {
                color: var(--secondary);
            }
        }
    }
}

#testimonials {
    .testimonials {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        width: 100%;
    }
    .testimonial {
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        // img {
        //     width: 48px;
        //     height: 48px;
        //     border-radius: 50%;
        //     border: 2px solid var(--primary);
        // }
        .author {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-weight: 500;
        }
        &:hover {
            img {
                border: 2px solid var(--secondary);
            }
            .author {
                color: var(--secondary);
            }
        }
    }
    .testimonial:nth-child(even) {
        align-self: flex-end;
    }
}

@media screen and (max-width: 768px) {
    #hero {
        min-height: calc(100vh - 64px);
        padding-top: 0;
        img {
            max-width: 196px;
            margin-block: 1rem;
        }
    }
    #expertise {
        .blockExpertise {
            padding: 1rem;
        }
        app-button {
            margin-top: 1rem;
        }
    }
    #funfacts {
        .funfactText {
            padding: 0 1rem 0.5rem 1rem;
        }
    }
    #testimonials {
        .testimonials {
            gap: 1rem;
        }
        .testimonial {
            padding: 1rem 1rem;
        }
    }
}

@media screen and (max-width: 480px) {
    #presentation {
        .groupButton {
            flex-direction: column;
            margin-top: 1rem;
        }
    }
}