<section class="container" id="hero">
    <div class="content">
        <h2 class="textCenter colorVariant noMargin">Ravi de vous rencontrer!</h2>
        <h1 class="displayLarge textCenter">Je m'appelle Guillaume.</h1>
        <img src="/images/about/photo-de-profil.jpg" alt="Photo de profil">
        <p class="bodyMedium">Passionné par le numérique et les expériences interactives, je travaille dans le secteur de l’informatique <span class="emphase">en tant qu’UX Designer depuis 7 ans</span> . Aujourd’hui, je poursuis un nouvel élan <span class="emphase">en développant mes compétences en tant que Développeur Front-end</span>, tout en explorant les bases du Back-end. Cette évolution me permet d’allier <span class="emphase">conception centrée utilisateur et expertise technique</span> pour créer des applications intuitives et engageantes.</p>
        <p class="bodyMedium">Mon parcours m’a appris l’importance de l’empathie et de l’adaptabilité. Ces qualités sont au cœur de mon approche : comprendre les besoins des utilisateurs et les traduire en solutions concrètes qui apportent de la valeur. Chaque projet est une opportunité de collaborer, d’innover et de résoudre des problématiques réelles.</p>
        <p class="bodyMedium">Polyvalent et curieux, j’aime explorer les nouvelles technologies et repousser les limites de la créativité. Mon objectif ? <span class="emphase">Aider les entrepreneurs et les entreprises à concevoir des expériences numériques modernes et impactantes qui résonnent avec leurs utilisateurs.</span></p>
        <p class="bodyMedium">Si vous cherchez un professionnel pluridisciplinaire, passionné par l’idée de faire le lien entre design et développement, <span class="emphase">vous êtes au bon endroit !</span></p>
    </div>
</section>
<section class="container" id="citation">
    <div class="content">
        <h2 class="displaySmall textCenter onPrimary">"Le design n’est pas seulement de l’esthétique, c’est une manière de résoudre des problèmes."</h2>
        <!-- <span class="bodyLarge textCenter author">Mark Boulton</span> -->
    </div>
</section>
<section class="container" id="expertise">
    <div class="content">
        <div class="headingSection">
            <h2 class="textCenter noMargin">Mon expertise</h2>
        </div>
        <div class="grid">
            <div class="blockExpertise blurEffect">
                <lucide-icon [img]="Microscope" [size]="48" class="iconLucide"></lucide-icon>
                <h3 class="title">Ux Research</h3>
                <p class="bodyMedium description">Analyser l'expérience utilisateur de manière systémique et stratégique. Déployer une méthodologie centrée sur l'humain pour décoder les besoins réels des utilisateurs et révéler des opportunités d'innovation business. Transformer des données qualitatives en insights opérationnels.</p>
                <p class="bodyMedium colorVariant label"><span class="emphase">Outils</span> : Entretiens utilisateurs, cartographie des parcours, personas, user stories, tests utilisateurs</p>
                <div class="logos">
                    <div class="logoItem">
                        <img src="/images/logos/pendo_logo.png" alt="Logo de Pendo">
                        <span class="label textCenter">Pendo</span>
                    </div>
                    <div class="logoItem">
                        <img src="/images/logos/obs_logo.png" alt="Logo de OBS Studio">
                        <span class="label textCenter">OBS Studio</span>
                    </div>
                    <div class="logoItem">
                        <img src="/images/logos/zoom_logo.png" alt="Logo de Zoom">
                        <span class="label textCenter">Zoom</span>
                    </div>
                </div>
            </div>
            <div class="blockExpertise blurEffect">
                <lucide-icon [img]="DraftingCompass" [size]="48" class="iconLucide"></lucide-icon>
                <h3 class="title">Ux Design</h3>
                <p class="bodyMedium description">Concevoir des interfaces intuitives et fluides qui placent l'utilisateur au cœur de l'expérience. Appliquer les principes du design thinking pour simplifier les interactions et créer des parcours utilisateurs élégants et efficaces.</p>
                <p class="bodyMedium colorVariant label"><span class="emphase">Outils</span> : Design thinking, wireframing, prototypage itératif, architecture de l'information</p>
                <div class="logos">
                    <div class="logoItem">
                        <img src="/images/logos/figjam_logo.png" alt="Logo de FigJam">
                        <span class="label textCenter">FigJam</span>
                    </div>
                    <div class="logoItem">
                        <img src="/images/logos/miro_logo.png" alt="Logo de Miro">
                        <span class="label textCenter">Miro</span>
                    </div>
                </div>
            </div>
            <div class="blockExpertise blurEffect">
                <lucide-icon [img]="Brush" [size]="48" class="iconLucide"></lucide-icon>
                <h3 class="title">UI Design</h3>
                <p class="bodyMedium description">Créer des interfaces visuellement harmonieuses et fonctionnellement accessibles. Développer des systèmes de design cohérents et évolutifs qui garantissent une expérience utilisateur homogène et mémorable.</p>
                <p class="bodyMedium colorVariant label"><span class="emphase">Outils</span> : Interaction design, visual design, prototypage, responsive design, design system, design tokens, W3C accessibility guidelines, WCAG/RGAA, NoCode</p>
                <div class="logos">
                    <div class="logoItem">
                        <img src="/images/logos/figma_logo.png" alt="Logo de Figma">
                        <span class="label textCenter">Figma</span>
                    </div>
                    <div class="logoItem">
                        <img src="/images/logos/adobe_logo.png" alt="Logo de Adobe">
                        <span class="label textCenter">Adobe</span>
                    </div>
                    <div class="logoItem">
                        <img src="/images/logos/framer_logo.png" alt="Logo de Framer">
                        <span class="label textCenter">Framer</span>
                    </div>
                    <div class="logoItem">
                        <img src="/images/logos/storybook_logo.png" alt="Logo de Storybook">
                        <span class="label textCenter">Storybook</span>
                    </div>
                </div>
            </div>
            <div class="blockExpertise blurEffect">
                <lucide-icon [img]="Code" [size]="48" class="iconLucide"></lucide-icon>
                <h3 class="title">Développement</h3>
                <p class="bodyMedium">Transformer des concepts en applications fonctionnelles, en maîtrisant à la fois les approches no-code et développement traditionnel. Capacité à construire des interfaces multiplateformes et à gérer des architectures de données complexes.</p>
                <p class="bodyMedium colorVariant label"><span class="emphase">Outils</span> : Programmation orientée objet, Programmation fonctionnelle, Développement Web</p>
                <div class="logos">
                    <div class="logoItem">
                        <img src="/images/logos/html5_logo.png" alt="Logo de HTML5">
                        <span class="label textCenter">HTML5</span>
                    </div>
                    <div class="logoItem">
                        <img src="/images/logos/css3_logo.png" alt="Logo de CSS3">
                        <span class="label textCenter">CSS3</span>
                    </div>
                    <div class="logoItem">
                        <img src="/images/logos/angular_logo.png" alt="Logo de Angular">
                        <span class="label textCenter">Angular</span>
                    </div>
                    <div class="logoItem">
                        <img src="/images/logos/nodejs_logo.png" alt="Logo de Node.js">
                        <span class="label textCenter">Node.js</span>
                    </div>
                    <div class="logoItem">
                        <img src="/images/logos/react_logo.png" alt="Logo de React">
                        <span class="label textCenter">React</span>
                    </div>
                    <div class="logoItem">
                        <img src="/images/logos/unity_logo.png" alt="Logo de Unity">
                        <span class="label textCenter">Unity</span>
                    </div>
                </div>
            </div>
            <div class="blockExpertise blurEffect">
                <lucide-icon [img]="Network" [size]="48" class="iconLucide"></lucide-icon>
                <h3 class="title">DevOps et Réseaux</h3>
                <p class="bodyMedium description">Optimiser les processus de développement et de déploiement. Garantir la performance, la scalabilité et la sécurité des infrastructures techniques.</p>
                <p class="bodyMedium colorVariant label"><span class="emphase">Outils</span> : Intégration continu, déploiement continu, conteneurisation, HTTPS</p>
                <div class="logos">
                    <div class="logoItem">
                        <img src="/images/logos/docker_logo.png" alt="Logo de Docker">
                        <span class="label textCenter">Docker</span>
                    </div>
                    <div class="logoItem">
                        <img src="/images/logos/nginx_logo.png" alt="Logo de Nginx">
                        <span class="label textCenter">Nginx</span>
                    </div>
                    <div class="logoItem">
                        <img src="/images/logos/cloudflare_logo.png" alt="Logo de Cloudflare">
                        <span class="label textCenter">Cloudflare</span>
                    </div>
                    <div class="logoItem">
                        <img src="/images/logos/github_logo.png" alt="Logo de GitHub">
                        <span class="label textCenter">GitHub</span>
                    </div>
                </div>
            </div>
            <div class="blockExpertise blurEffect">
                <lucide-icon [img]="CalendarRange" [size]="48" class="iconLucide"></lucide-icon>
                <h3 class="title">Gestion de projets</h3>
                <p class="bodyMedium description">Piloter des projets complexes avec une approche collaborative et orientée résultats. Assurer la communication, la coordination et la livraison de solutions qui répondent précisément aux attentes des clients.</p>
                <p class="bodyMedium colorVariant label"><span class="emphase">Outils</span> : Manifeste Agile, gestion de backlog, Scrum, définition de user stories</p>
                <div class="logos">
                    <div class="logoItem">
                        <img src="/images/logos/jira_logo.png" alt="Logo de Jira">
                        <span class="label textCenter">Jira</span>
                    </div>
                    <div class="logoItem">
                        <img src="/images/logos/confluence_logo.png" alt="Logo de Confluence">
                        <span class="label textCenter">Confluence</span>
                    </div>
                    
                    <div class="logoItem">
                        <img src="/images/logos/notion_logo.png" alt="Logo de Notion">
                        <span class="label textCenter">Notion</span>
                    </div>
                </div>
            </div>
        </div>
        <app-button url="https://drive.google.com/file/d/1zJxCyVSJbSuf-d8vRhjUExkuCSjpV_ZN/view"><lucide-icon [img]="FileUser" class="iconLucide"></lucide-icon>Voir mon CV</app-button>
    </div>
</section>
<section class="container" id="funfacts">
    <div class="content ">
        <div class="headingSection">
            <h2 class="textCenter noMargin">Fun Facts</h2>
        </div>
        <div class="grid">
            <div class="funfact blurEffect">
                <img src="/images/about/photo-merlin.jpg" alt="Photo de Merlin">
                <div class="funfactText">
                    <h3>#Acolyte</h3>
                <p class="bodyMedium">Je ne code jamais seul, Merlin, mon acolyte félin, veille toujours à ajouter sa touche personnelle à mes projets. Entre ses ronronnements apaisants, ses coups de patte sur l’écran et ses lignes de code improvisées en marchant sur le clavier, il transforme chaque session en une aventure imprévisible. Un vrai partenaire de développement... un peu freestyle !</p>
                </div>
            </div>
            <div class="funfact blurEffect">
                <img src="/images/about/photo-sportif.jpg" alt="Photo d'un exploit sportif">
                <div class="funfactText">
                    <h3>#Sportif</h3>
                <p class="bodyMedium">Quand je ne suis pas derrière mon écran, c’est sur le terrain ou dans les gradins que je m’éclate ! Fan inconditionnel de l’OM, je vais au stade dès que l’occasion se présente pour vibrer avec mon équipe. En dehors du foot, je me lance aussi des défis sportifs, comme celui de boucler le triathlon de Paris. Que ce soit avec un ballon ou une paire de baskets, j’aime repousser mes limites et me dépasser !</p>
                </div>
            </div>
            <div class="funfact blurEffect">
                <img src="/images/about/apprentissage-japonais.jpeg" alt="Photo Apprentissage Japon">
                <div class="funfactText">
                    <h3>#Japon</h3>
                <p class="bodyMedium">Il y a 7 ans, je me suis lancé dans l’aventure d’apprendre le japonais, porté par ma passion pour la culture et le pays. Ce défi est devenu un vrai voyage : des kanjis qui défient ma mémoire aux expressions intraduisibles qui me fascinent, chaque étape nourrit ma curiosité. Même si ma prononciation est parfois un peu hasardeuse, ce challenge est une source d’inspiration et de satisfaction. <a href="https://fr.wikipedia.org/wiki/Kaizen_(management)" target="_blank">改善(kaizen)!</a></p>
                </div>
            </div>
            <div class="funfact blurEffect">
                <img src="/images/about/hair-style.jpg" alt="Photo de ma coiffure">
                <div class="funfactText">
                    <h3>#HairStyle</h3>
                <p class="bodyMedium">Mes cheveux, c’est un peu mon terrain d’expérimentation ! Je change de coupe presque aussi souvent qu’un développeur met à jour son code : undercut, bun, rasé ou un style plus classique, chaque look reflète une nouvelle vibe ou une envie de changement. C’est ma manière de garder un côté fun et créatif, même hors écran. Qui sait, peut-être que ma prochaine inspiration capillaire viendra d’un projet de développement ou d’une ligne de code bien stylée !</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container" id="testimonials">
    <div class="content ">
        <div class="headingSection">
            <h2 class="textCenter noMargin">Mes recommendations</h2>
        </div>
        <div class="testimonials">
            <div class="testimonial blurEffect">
                <div>
                    <p class="bodyMedium ">"Guillaume Savary a joué un rôle clé dans le développement d’Eiko, montrant un excellent leadership en tant que Lead Designer. Il a mené avec succès les sessions de brainstorming pour la refonte de notre charte graphique, collaborant efficacement avec plusieurs équipes pour définir une identité visuelle cohérente.</p>
                    <p class="bodyMedium">En plus de sa capacité à fédérer autour de l'identité d’Eiko, Guillaume a créé un design system solide avec MUI, ce qui a permis d'assurer une expérience utilisateur cohérente sur l'ensemble de notre plateforme. Proactif et orienté utilisateur, il a mené des entretiens utilisateurs et conçu des personas qui ont affiné notre proposition de valeur et enrichi notre approche produit.</p>
                    <p class="bodyMedium">Guillaume a également fait preuve de polyvalence en prenant en charge des aspects du site web d’Eiko et en réalisant la coordination de plusieurs équipe pluridisciplinaires, apportant un confort précieux dans les étapes cruciales de changements stratégiques.</p>
                    <p class="bodyMedium">Son agilité, sa rigueur et son esprit d’équipe, fait de Guillaume un collaborateur essentiel à notre association Eiko."</p>
                </div>
                <div class="author">
                    <!-- <img src='/images/MarcMouchoux.jpg' alt="Photo Author"> -->
                    <span class="bodyMedium">Marc Mouchoux, Eiko</span>
                </div>
            </div>
            <div class="testimonial blurEffect">
                <div>
                    <p class="bodyMedium ">"J’ai eu l’occasion de travailler avec Guillaume Savary lors de sa dernière année dans le cadre de projets d’UX Experience internes à notre société.</p>
                    <p class="bodyMedium">Tout au long de cette année, Guillaume a montré qu’il était une personne proactive, rigoureuse, dynamique et digne de confiance. Ses travaux (Designs, maquettes de sites web, questionnaires user-research) ont été systématiquement délivrés conformément aux plannings établis. Leur qualité a été à chaque fois unanimement remarquée et saluée par nos clients</p>
                    <p class="bodyMedium">Volontaire et travailleur, avec l’envie constante de progresser, je ne peux que le recommander vivement dans un emploi futur pour des projets où ses compétences en UX/UI Design ainsi que sa personnalité sauront apporter une vraie plus-value.</p>
                </div>
                <div class="author">
                    <!-- <img src='/images/OlivierChopin.jpg' alt="Photo Author"> -->
                    <span class="bodyMedium">Olivier Chopin, IDEMIA</span>
                </div>
            </div>
        </div>
    </div>
</section>