<footer class="container">
    <div class="content">
        <h2 class="displayMedium textCenter onPrimary noMargin">Restons en contact</h2>
        <p class="bodyMedium textCenter subtitle onPrimary">Envie que l'on travaille ensemble ou juste envie de discuter autour d'un café ? Envoyez-moi un message et parlons-en !</p>
        <div id="contactLinks">
            <a class="bodyMedium contactLink onPrimary" href="mailto:contact.pro@savaryguillaume.fr" target="_blank">
                <lucide-icon [img]="Mail" [size]="20" class="iconLucide"></lucide-icon>
                <span>Mon Email</span>
            </a>
            <a class="bodyMedium contactLink onPrimary" href="https://www.linkedin.com/in/savaryguillaume/" target="_blank">
                <lucide-icon [img]="Linkedin" [size]="20" class="iconLucide"></lucide-icon>
                <span>Mon LinkedIn</span>
            </a>
            <a class="bodyMedium contactLink onPrimary" href="https://drive.google.com/file/d/1zJxCyVSJbSuf-d8vRhjUExkuCSjpV_ZN/view" target="_blank">
                <lucide-icon [img]="FileUser" [size]="20" class="iconLucide"></lucide-icon>
                <span>Mon CV</span>
            </a>
        </div>
    </div>
    <p class="bodySmall textCenter onPrimary">©{{ copyrightYears }} Savary Guillaume. All rights reserved.</p>
</footer>