.topScrollButton {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 64px;
    height: 64px;
    z-index: 10;
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1000px;
    color: var(--on-primary);
    
    // Élément de contenu
    .contentButton {
        position: relative;
        z-index: 10;
        width: 64px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary);
        border: 1px solid var(--on-primary);
        border-radius: 1000px;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1; // Assurez-vous que le z-index est inférieur à celui de l'élément parent
        inset: 0; // Raccourci pour top: 0, right: 0, bottom: 0, left: 0
        width: 100%;
        height: 100%;
        background-color: var(--secondary);
        transform: translate(0, 0);
        transition: transform 300ms;
        border-radius: 1000px;
    }

    &:hover::before {
        transform: translate(16px, 16px); // Effet de décalage au survol
    }
}

@media only screen and (max-width: 768px) {
    .topScrollButton {
        bottom: 96px;
        right: 40px;
    }
}