<header>
    <div id="lisere"></div>
    <nav class="container">
        <div class="content" id="contentNav">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" id="linkLogo">
                <img src="/images/Logo Transparent Carmin.png" alt="GS logo">
            </a>
            <div id="menu">
                <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
                <a routerLink="projets" routerLinkActive="active">Projets</a>
                <a routerLink="about" routerLinkActive="active">About</a>
            </div>
        </div>
    </nav>
</header>

<div id="bottomNav">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="M160-120v-480l320-240 320 240v480H560v-280H400v280H160Z"/></svg>
        <span class="bodyTiny">Accueil</span>
    </a>
    <a routerLink="projets" routerLinkActive="active">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="M160-120q-33 0-56.5-23.5T80-200v-440q0-33 23.5-56.5T160-720h160v-80q0-33 23.5-56.5T400-880h160q33 0 56.5 23.5T640-800v80h160q33 0 56.5 23.5T880-640v440q0 33-23.5 56.5T800-120H160Zm240-600h160v-80H400v80Z"/></svg>
        <span class="bodyTiny">Projets</span></a>
    <a routerLink="about" routerLinkActive="active">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="M120-160v-240l320-80-320-80v-240l760 320-760 320Z"/></svg>
        <span class="bodyTiny">About</span></a>
</div>