<header>
    <div id="lisere"></div>
    <nav class="container">
        <div class="content" id="contentNav">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" id="linkLogo">
                <img src="/images/Logo Transparent Carmin.png" alt="GS logo">
            </a>
            <div id="menu">
                <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="colorVariant label">Accueil</a>
                <a routerLink="projets" routerLinkActive="active" class="colorVariant label">Projets</a>
                <a routerLink="about" routerLinkActive="active" class="colorVariant label">About</a>
            </div>
        </div>
    </nav>
</header>

<div id="bottomNav">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="colorVariant label">
        <lucide-icon [img]="House" [size]="24" class="iconLucide"></lucide-icon>
        <span class="bodyTiny">Accueil</span>
    </a>
    <a routerLink="projets" routerLinkActive="active" class="colorVariant label">
        <lucide-icon [img]="Briefcase" [size]="24" class="iconLucide"></lucide-icon>
        <span class="bodyTiny">Projets</span></a>
    <a routerLink="about" routerLinkActive="active" class="colorVariant label">
        <lucide-icon [img]="Send" [size]="24" class="iconLucide"></lucide-icon>
        <span class="bodyTiny">About</span></a>
</div>