<a class="projet" [routerLink]="['/projets', projet.id]">
    @if (typeProjetCard === 'generic') {
        <div class="imgContainer">
            <app-optimized-image 
                [src]="getImageUrl('768')"
                [alt]="projet.imageBannerAlt || 'Bannière du projet'"
                class="projet-image"
                [priority]="false"
            ></app-optimized-image>
        </div>
        <div class="textContainer">
            <span class="bodyMedium colorVariant label">{{ projet.roles.join(', ') }}</span>
            <span class="bodyLarge title">{{ projet.title }}</span>
            <p class="bodyMedium description">{{ projet.description }}</p>
        </div>
    } @else if (typeProjetCard === 'previousProjet') {
        <div class="textContainer">
            <span class="bodyMedium colorVariant label">{{ projet.roles.join(', ') }}</span>
            <span class="bodyLarge title">{{ projet.title }}</span>
            <p class="bodyMedium description">{{ projet.description }}</p>
        </div>
        <div class="imgContainer">
            <app-optimized-image 
                [src]="getImageUrl('768')"
                [alt]="projet.imageBannerAlt || 'Bannière du projet'"
                class="projet-image"
            ></app-optimized-image>
        </div>
        <div class="bottomCard" id="previousProjet">
            <span class="bodyLarge label"><lucide-icon [img]="ChevronLeft" [size]="24" class="iconLucide"></lucide-icon>Projet précédent</span>
        </div>
    } @else if (typeProjetCard === "nextProjet") {
        <div class="textContainer">
            <span class="bodyMedium colorVariant label">{{ projet.roles.join(', ') }}</span>
            <span class="bodyLarge title">{{ projet.title }}</span>
            <p class="bodyMedium description">{{ projet.description }}</p>
        </div>
        <div class="imgContainer">
            <app-optimized-image 
                [src]="getImageUrl('768')"
                [alt]="projet.imageBannerAlt || 'Bannière du projet'"
                class="projet-image"
            ></app-optimized-image>
        </div>
        <div class="bottomCard" id="nextProjet">
            <span class="bodyLarge label">Projet Suivant<lucide-icon [img]="ChevronRight" [size]="24" class="iconLucide"></lucide-icon></span>
        </div>
    }
</a>

