<div class="projet" (click)="navigateToProject(projet.id)">
    @if (typeProjetCard === 'generic') {
        <a>
            <div class="imgContainer"><img [src]="projet.imageBannerUrl" [alt]="projet.imageBannerAlt"></div>
            <div class="textContainer">
                <span class="bodyMedium colorVariant label">{{ projet.roles.join(', ') }}</span>
                <span class="bodyLarge title">{{ projet.title }}</span>
                <p class="bodyMedium description">{{ projet.description }}</p>
            </div>
        </a>
    } @else if (typeProjetCard === 'previousProjet') {
        <a>
            <div class="textContainer">
                <span class="bodyMedium colorVariant label">{{ projet.roles.join(', ') }}</span>
                <span class="bodyLarge title">{{ projet.title }}</span>
                <p class="bodyMedium description">{{ projet.description }}</p>
            </div>
            <div class="imgContainer"><img [src]="projet.imageBannerUrl" [alt]="projet.imageBannerAlt"></div>
            <div class="bottomCard" id="previousProjet">
                <span class="bodyLarge label"><lucide-icon [img]="ChevronLeft" [size]="24" class="iconLucide"></lucide-icon>Projet précédent</span>
            </div>
        </a>
    } @else if (typeProjetCard === "nextProjet") {
        <a>
            <div class="textContainer">
                <span class="bodyMedium colorVariant label">{{ projet.roles.join(', ') }}</span>
                <span class="bodyLarge title">{{ projet.title }}</span>
                <p class="bodyMedium description">{{ projet.description }}</p>
            </div>
            <div class="imgContainer"><img [src]="projet.imageBannerUrl" [alt]="projet.imageBannerAlt"></div>
            <div class="bottomCard" id="nextProjet">
                <span class="bodyLarge label">Projet Suivant<lucide-icon [img]="ChevronRight" [size]="24" class="iconLucide"></lucide-icon></span>
            </div>
        </a>
    }
        
</div>

