#contact {
    background-color: var(--primary);
    color: var(--on-surface-invert);
}

.content {
    padding-block: var(--padding-v);
}



#contactLinks {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 2rem;
    margin-top: 4rem;
    a {
        display: flex;
        align-items: center;   
        gap: 0.5rem;
        border-bottom: 1px solid transparent;
        font-size: 1.125rem;
        line-height: 1.5;
        font-weight: 600;
        color: var(--on-surface-invert); 
        &:hover {
            color: var(--paolo-veronese-green-400);
            border-bottom: 1px solid var(--paolo-veronese-green-400);
            text-decoration: none;
        }
        .iconLucide {
            display: flex;
            justify-content: center;
            align-items: baseline;
        }
    }
}