<div class="container" id="contact">
    <div class="content">
        <h2>Contact</h2>
        <div id="contactBlock">
            <div class="contactLine">
                <span class="bodyLarge">Email</span>
                <div class="line"></div>
                <a class="bodyLarge" href="mailto:savaryguillaume@proton.me" target="_blank">savaryguillaume&#64;proton.me  ></a>
            </div>
            <div class="contactLine">
                <span class="bodyLarge">LinkedIn</span>
                <div class="line"></div>
                <a class="bodyLarge" href="https://www.linkedin.com/in/savaryguillaume/" target="_blank">Savary Guillaume ></a>
            </div>
            <div class="contactLine">
                <span class="bodyLarge">CV</span>
                <div class="line"></div>
                <a class="bodyLarge" href="https://drive.google.com/file/d/1zJxCyVSJbSuf-d8vRhjUExkuCSjpV_ZN/view" target="_blank">Voir mon CV ></a>
            </div>
        </div>
    </div>
</div>