#contactBlock {
    margin-top: 2.5rem;
}

.content {
    padding-block: var(--padding-v);
}

.contactLine {
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin-bottom: 2rem;
}

.contactLine span {
    font-weight: 600;
}

.line {
    height: 1px;
    background-color: var(--neutral-200);
}