#contactBlock {
    margin-top: 40px;
}

.contactLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
    margin-bottom: 32px;
}

.contactLine span {
    font-weight: 600;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: var(--neutral-200);
}