<div class="projet">
    <a [routerLink]="this.projetDetailUrl">
        <div><img [src]="projet.imageUrl" [alt]="projet.imageAlt"></div>
        <div><span class="title">{{ projet.title }}</span><span class="label">{{ projet.label }}</span></div>
        <div><p>{{ projet.description }}</p></div>
    </a>
</div>

<!--
<div class="projet">
    <img src="get+help+banner.png" alt="">
    <p><span>Aide en ligne in-Product</span></p>
    <p>Création d’un nouveau parcours d’assistance innovant pour les nouveaux produits Sage Business Cloud.</p>
</div>
<div class="projet">
    <img src="module+bancaire+banner.png" alt="">
    <span>Module bancaire</span>
    <p>Création d’un nouveau module de gestion automatisée des transactions bancaires pour Sage Business Cloud Comptabilité.</p>
</div>
<div class="projet">
    <img src="Eiko+banner.png" alt="">
    <p><span>Défi Famille Zéro Déchet</span></p>
    <p>Création d’une application, en partenariat avec la ville de Meudon, pour aider des familles à réduire leur consommation de déchet.</p>
</div>
-->
