.projet {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    max-width: calc((var(--screen) - 64px) / 2);
    flex-grow: 1;
}

a {
    text-decoration: none;
}

img {
    margin-bottom: 16px;
    object-fit: cover;
    object-position: left;
    image-rendering: auto;
    width: 100%;
    border-radius: 8px;
}

span.title {
    font-size: 20px;
    font-weight: 700;
    color: var(--neutral-700);
    vertical-align: baseline;
    margin-right: 8px;
}

span.label {
    font-size: 18px;
    font-weight: 500;
    color: var(--neutral-500);
    vertical-align: baseline;
}