.projet {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    flex-grow: 1;
}

a {
    text-decoration: none;
}

img {
    margin-bottom: 1rem;
    object-fit: cover;
    object-position: left;
    image-rendering: auto;
    width: 100%;
    border-radius: 8px;
}

span.title {
    font-weight: 700;
    color: var(--neutral-700);
    margin-right: 0.5rem;
}

span.label {
    font-weight: 500;
    color: var(--neutral-600);
    font-style: oblique 5deg;
}