a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1em 1.5em;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0.015em;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    outline: none;
    position: relative;
    background-color: var(--primary);
    color: var(--on-surface-invert);
    border-radius: var(--border-radius);
}

a::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    z-index: -1;
    transform: translate(0, 0);
    transition: transform 300ms;
    border-radius: var(--border-radius);
}

a:hover::before {
    transform: translate(16px, 16px); /* Effet de décalage au survol */
}

@media only screen and (max-width: 480px) {
    a {
        font-size: 1rem;
        padding: 0.75em 1em;
    }
}
