<section class="container" id="presentation">
    <div class="content">
        <div class="sectionText">
            <div class="headingSection">
                <h2 class="noMargin">Bonjour.<br> Je m'appelle Guillaume et je suis</h2>
                <h1 class="displayLarge noMargin">UX Developer</h1>
                <!-- <p class="bodyLarge textCenter subtitle">Je suis un passioné de design d'interfaces qui sont engageante, accessible et centré-utilisateur.</p> -->
            </div>
            <div class="groupButton">
                <app-button url='#projets'>Voir mes projets</app-button>
            </div>
        </div>
        <div class="sectionImg">
            <img src="/images/landingHeroImg.png" alt="Illustration de moi">
        </div>
    </div>
</section>
<app-projets-list />