#presentation {
    min-height: calc(100vh - 88px);
    padding-block: var(--padding-v);
    padding-top: 88px;
    h2 {
        margin-bottom: 0;
    }
    .groupButton {
        gap: 1.25rem;
        display: flex;
        justify-content: center;
        width: max-content;
    }
}

@media screen and (max-width: 768px) {
    #presentation {
        min-height: calc(100vh - 64px);
        padding-top: 0;
    }
}

@media screen and (max-width: 480px) {
    #presentation {
        .groupButton {
            flex-direction: column;
        }
    }
}