<section class="container" id="presentation">
    <div class="content">
        <div class="headingSection">
            <h2 class="textCenter noMargin">Bonjour. Je m'appelle Guillaume. Et je suis</h2>
            <h1 class="displayLarge textCenter noMargin">Un développeur créatif.</h1>
            <!-- <p class="bodyLarge textCenter subtitle">Je suis un passioné de design d'interfaces qui sont engageante, accessible et centré-utilisateur.</p> -->
        </div>
        <div class="groupButton">
            <app-button url='#projets'>Voir mes projets</app-button>
        </div>
    </div>
</section>
<app-projets-list />