<div class="container" id="presentation">
    <div class="content">
        <div class="heroContent">
            <h2 class="textCenter">Bonjour. Je m'appelle Guillaume. Et je suis</h2>
            <h1 class="displayLarge textCenter">Un développeur créatif.</h1>
            <!-- <p class="bodyLarge textCenter subtitle">Je suis un passioné de design d'interfaces qui sont engageante, accessible et centré-utilisateur.</p> -->
            <div class="groupButton">
                <app-button url='#projets'>Voir mes projets</app-button>
            </div>
        </div>
    </div>
</div>
<app-projets-list />
<app-contact /> 