// Imports
// Satoshi
@import url('../public/fonts/satoshi/css/satoshi.css');

// Clash Display
@import url('../public/fonts/clashDisplay/css/clashDisplay.css');

//JetBrainsMono
@import url('../public/fonts/jetbrains/css/jetBrainsMono.css');

:root {
    // [data-theme="default"] {
        // Colours
        // Neutral
        --neutral-0: #ffffff;
        --neutral-50: #F4F4F4;
        --neutral-100: #E9EAEA;
        --neutral-200: #D4D5D5;
        --neutral-300: #BFC1C1;
        --neutral-400: #ABADAD;
        --neutral-500: #979999;
        --neutral-600: #6F7070;
        --neutral-700: #494A4A;
        --neutral-800: #262727;
        --neutral-900: #080808;
        --neutral-950: #010101;

        // Carmin
        --carmin-50: #FFE5EA;
        --carmin-100: #FFCCD5;
        --carmin-200: #FF99AA;
        --carmin-300: #FF6680;
        --carmin-400: #FF3355;
        --carmin-500: #FF002B;
        --carmin-600: #C70021;
        --carmin-700: #960018;
        --carmin-800: #660011;
        --carmin-900: #330009;
        --carmin-950: #190004;

        // Paolo Veronese Green
        --paolo-veronese-green-50: #e5fffb;
        --paolo-veronese-green-100: #bdfff4;
        --paolo-veronese-green-200: #42ffe0;
        --paolo-veronese-green-300: #00f0c8;
        --paolo-veronese-green-400: #00e0bb;
        --paolo-veronese-green-500: #00ccaa;
        --paolo-veronese-green-600: #00b395;
        --paolo-veronese-green-700: #00967e;
        --paolo-veronese-green-800: #00806a;
        --paolo-veronese-green-900: #005c4d;
        --paolo-veronese-green-950: #004237;

        // Semantic
        --negative: #CD1107;
        --positive: #16810D;
        --info: #3866C1;
        --warning: #FF7900;

        // Brand
        --linkedIn: #0288d1;
        --linkedInDark: #004183;

        // Border
        // Radius
        --border-radius: 8px;

        --screen: 1280px;
        --padding-h: 2.5rem;
        --padding-v: 5rem;
        --margin-v: 3rem;

        // Cursor
        --mouse-pointer: /images/cursor/mouse-pointer.svg;
        --pointer: /images/cursor/mouse-pointer.svg;

        // Effect
        // Blur
        --blur: 8px;

        // Blur Box-Shadow
        --boxShadowX: 0;
        --boxShadowY: 16px;
        --boxShadowBlur: 24px;
        --boxShadowSpread: 0;
        --boxShadowColor: #0000001A;
        --boxShadowColorHover: #00967e1A;

        // Blur BG
        --blurBGColor: #ffffffC0;
        --blurBGColorHover: #e5fffbC0;

        // Blur Border
        --blurBorder: #ffffffc0;
        --blurBorderHover: #e5fffbc0;


        // System
        // Surface
        --surface: var(--neutral-0);
        --on-surface: var(--neutral-950);
        --on-surface-variant: var(--neutral-700);
        --surface-invert: var(--neutral-800);
        --on-surface-invert: var(--neutral-0);

        // Outlined
        --outlined: var(--neutral-600);
        --outlined-variant: var(--neutral-300);
        --outlined-invert: var(--neutral-0);

        // Primary
        --primary: var(--carmin-700);
        --on-primary: var(--carmin-50);
        --primary-container: var(--carmin-50);
        --on-primary-container: var(--carmin-700);
        --primary-invert: var(--carmin-200);
        --on-primary-invert: var(--carmin-700);

        // Secondary
        --secondary: var(--paolo-veronese-green-700);
        --on-secondary: var(--paolo-veronese-green-50);
        --secondary-container: var(--paolo-veronese-green-50);
        --on-secondary-container: var(--paolo-veronese-green-700);
        --secondary-invert: var(--paolo-veronese-green-200);
        --on-secondary-invert: var(--paolo-veronese-green-900);

        // Fonts
        --fontBody: 'Satoshi-Variable';
        --fontDisplay: 'ClashDisplay-Variable';
        --fontMono: 'JetBrainsMono-Variable';

        //spacing
        //resolution
        @media only screen and (min-width: 1280px) {
            --screen: 1280px;
            --padding-h: 2.5rem;
            --padding-v: 5rem;
            --margin-v: 3rem;
        }

        @media only screen and (max-width: 1280px) {
            --screen: 1280px;
            --padding-h: 2.5rem;
            --padding-v: 5rem;
            --margin-v: 3rem;
        }

        @media only screen and (max-width: 768px) {
            --screen: 768px;
            --padding-h: 1rem;
            --padding-v: 3rem;
            --margin-v: 2rem;
        }

        @media only screen and (max-width: 480px) {
            --padding-h: 0.5rem;
            --padding-v: 2rem;
            --margin-v: 1rem;
        }

    // }
    //     [data-theme="dark"] {}
}

body {
    font-family: var(--fontBody), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    font-style: normal;
    color: var(--on-surface);
    margin: 0;
    padding: 0;
    letter-spacing: 0.25px;
    width: 100%;
    cursor: url(/images/cursor/mouse-pointer.svg), default;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    font-weight: 400;
    color: var(--on-surface-variant);
}
h1 {
    font-size: 4rem;
    font-weight: 600;
    color: var(--primary);
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.125rem;
}

// Displays
.displayLarge, .displayMedium, .displaySmall {
    font-family: var(--fontDisplay);
    font-weight: 600;
    line-height: 1.2;
    color: var(--on-surface-variant);
    margin: 0;
}
.displayLarge {
    font-size: 4rem;
    color: var(--primary);
}

.displayMedium {
    font-size: 3rem;
}

.displaySmall {
    font-size: 2rem;
}

// Mono
.mono {
    font-family: var(--fontMono);
    font-size: 0.813rem;
    line-height: 1.2;
}

// Body        
p, li {
    max-width: 768px;
}

li {
    margin: 0.5rem 0;
}

p.bodyLarge, span.bodyLarge, a.bodyLarge {
    font-size: 1.125rem;
}

p.bodyMedium, span.bodyMedium, a.bodyMedium {
    font-size: 1rem;
}

p.bodySmall, span.bodySmall, a.bodySmall {
    font-size: 0.875rem;
}

p.bodyTiny, span.bodyTiny, a.bodyTiny {
    font-size: 0.75rem;
}        

a {
    color: var(--primary);
    text-decoration: none;
    cursor: url(/images/cursor/pointer.svg), pointer;
    &:hover {
        color: var(--secondary);
        text-decoration: underline;
    }
}

ul {
    margin-left: 1rem;
}

// Labels
.label {
    font-weight: 500;
}


// Containers
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
.backgroundGradient {
    --angle: 0deg;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--angle),#FFE5EA 0%, transparent 48%, transparent 52%, #FFE5EA 100%);
    background-attachment: fixed;
    animation: gradient 20s linear infinite;
}
@keyframes gradient {
    100% {
        --angle: 360deg;
    }
}

.mainContainer {
    min-height: calc(100vh - 85px);
    background-color: var(--surface);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.content {
    max-width: var(--screen);
    flex-grow: 1;
    padding-inline: var(--padding-h);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    width: 100%;
}


// Icones
// https://lucide.dev/
.iconLucide {
    display: flex;
    align-items: baseline;
    width: max-content;
}

// Styles
.textCenter {
    min-width: 100%;
    text-align: center;
}

.subtitle {
    font-weight: 600;
    margin-block: 1rem;
    color: var(--on-surface-variant);
}

.colorVariant {
    color: var(--on-surface-variant);
}

.emphase {
    font-weight: 600;
    color: var(--primary);
}

.onPrimary {
    color: var(--on-primary);
}
.noMargin {
    margin: 0;
}

.headingSection {
    margin-block: var(--margin-v);
}

.blurEffect {
    backdrop-filter: blur(var(--blur));
    background-color: var(--blurBGColor);
    outline: 1px solid var(--blurBorder);
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: all .3s ease-out;
    &:hover {
        background-color: var(--blurBGColorHover);
        box-shadow: var(--boxShadowX) var(--boxShadowY) var(--boxShadowBlur) var(--boxShadowColorHover);
        outline-color: var(--blurBorderHover);
    }
}

@media only screen and (max-width: 768px) {
    .displayLarge {
        font-size: 2.5rem;
    }

    .displayMedium {
        font-size: 2rem;
    }

    .displaySmall {
        font-size: 1.75rem;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.75rem;
    }
    
    h4 {
        font-size: 1.5rem;
    }
    
    h5 {
        font-size: 1.25rem;
    }
    
    h6 {
        font-size: 1.125rem;
    }

    .mainContainer {
        min-height: calc(100vh - 60px);
    }

    .grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(346px, 1fr));
        width: 100%;
    }
}


// Projet Detail Component injection
#projet {
    min-height: calc(100vh - 88px);
    padding-block: var(--padding-v);
    padding-top: 88px;
    .headerProjetDetail {
        .infoProject {
            display: flex;
            div {
                display: block;
            }
        }
    } 
    .infoProject {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        div {
            flex-grow: 1;
            span {
                display: block;
            }
            a {
                display: flex;
                align-items: center;   
                gap: 0.5rem;
                border-bottom: 1px solid transparent;
                line-height: 1.5;
                font-weight: 600;
                border-bottom: 2px solid var(--primary);
                width: fit-content;
                &:hover {
                    color: var(--secondary);
                    border-bottom: 2px solid var(--secondary);
                    text-decoration: none;
                }
            }
        }
        
    }
    .banner {
        object-fit: cover;
        object-position: center;
        image-rendering: auto;
        width: 100%;
        border-radius: 8px;
        margin: 1rem 0;
    }
    .grid .banner {
        margin: 0;
    }
    .contentProjetDetail {
        max-width: 768px;
        margin: 0 auto 0 auto;
    }
    .lien {
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }
    .lienImage {
        margin-right: 8px;
    }
}
@media screen and (max-width: 768px) {
    #hero {
        min-height: calc(100vh - 64px);
        padding-top: 0;
    }
}