:root {
    /*[data-theme="default"] {*/
        //Colours
        //Neutral
        --neutral-0: #ffffff;
        --neutral-50: #F4F4F4;
        --neutral-100: #E9EAEA;
        --neutral-200: #D4D5D5;
        --neutral-300: #BFC1C1;
        --neutral-400: #ABADAD;
        --neutral-500: #979999;
        --neutral-600: #6F7070;
        --neutral-700: #494A4A;
        --neutral-800: #262727;
        --neutral-900: #080808;
        --neutral-950: #010101;

        //Carmin
        --carmin-50: #F8EDEF;
        --carmin-100: #F0DBDE;
        --carmin-200: #E1B6BD;
        --carmin-300: #D2929C;
        --carmin-400: #C36D7B;
        --carmin-500: #B4495A;
        --carmin-600: #A52439;
        --carmin-700: #960018;
        --carmin-800: #640010;
        --carmin-900: #320008;

        //Semantic
        --negative: #CD1107;
        --positive: #16810D;
        --info: #3866C1;
        --warning: #FF7900;

        //Brand
        --linkedIn: #0288d1;
        --linkedInDark: #004183;

        //Border
        //Radius
        --borderRadius: 8px;


        //font
        @font-face {
            font-family: "deserta";
            src: url(/deserta.otf);
        }

        * {
            font-family: "Roboto Flex", Helvetica, Arial,sans-serif;
            font-optical-sizing: auto;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5em;
            font-style: normal;
            color: var(--neutral-950);
            margin: 0;
            padding: 0;
        }

        h1.displayLarge, span.displayLarge {
            font-family: "deserta";
            font-size: 6rem;
            font-weight: 700;
            line-height: 1.2em;
            color: var(--carmin-700);
            margin: 0 0 0.5rem 0;
        }

        h1.displaySmall, h2.displaySmall, span.displaySmall {
            font-family: "deserta";
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.2em;
            color: var(--neutral-700);
            margin: 0 0 0.5rem 0;
        }

        h1 {
            font-family: "deserta";
            font-size: 3.75rem;
            font-weight: 700;
            line-height: 1.2em;
            color: var(--carmin-700);
            margin: 0 0 0.5rem 0;
        }
        
        h2 {
            font-family: "deserta";
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.2em;
            color: var(--neutral-700);
            margin: 3.5rem 0 1.5rem 0;
        }
        
        h3 {
            font-size: 2.5rem;
            font-weight: 600;
            line-height: 1.2em;
            color: var(--neutral-700);
            margin: 1.5rem 0 1rem 0;
        }
        
        h4 {
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2em;
            color: var(--neutral-700);
            margin: 1rem 0 0.5rem 0;
        }
        
        h5 {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.2em;
            color: var(--neutral-700);
            margin: 1rem 0 0.5rem 0;
        }
        
        h6 {
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 1.2em;
            color: var(--neutral-700);
            margin: 1rem 0 0.5rem 0;
        }
        
        p {
            margin: 0.5rem 0;
            max-width: 768px;
        }

        p.bodyLarge, span.bodyLarge, a.bodyLarge {
            font-size: 1.125rem;
            line-height: 1.5em;
        }

        p.bodyMedium, span.bodyMedium, a.bodyMedium {
            font-size: 1rem;
            line-height: 1.5em;
        }

        p.bodySmall, span.bodySmall, a.bodySmall {
            font-size: 0.875rem;
            line-height: 1.5em;
        }

        p.bodyTiny, span.bodyTiny, a.bodyTiny {
            font-size: 0.75rem;
            line-height: 1.5em;
        }

        a {
            color: var(--carmin-700);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        ul {
            margin-left: 1rem;
        }


        //Containers
        body {
            margin: 0;
            padding: 0;
            background-color: var(--carmin-50);
        }

        .mainContainer {
            min-height: calc(100vh - 96px - 66px);
            background-color: var(--carmin-50);
        }
        
        .container {
            display: flex;
            justify-content: center;
        }
        
        .content {
            max-width: var(--screen);
            flex-grow: 1;
            padding-inline: var(--padding-h);
        }

        .grid {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        }
        

        //Components
        .button {
            padding: 0.75em 1.25em;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 1.2em;
            background-color: var(--carmin-50);
            border: solid 0.25rem var(--carmin-700);
            border-radius: var(--borderRadius);
            color: var(--carmin-700);
            text-decoration: none;
            &:hover {
                background-color: var(--carmin-600);
                border: solid 0.25rem var(--carmin-600);
                color: var(--neutral-0);
                text-decoration: none;
            }
            &.primary {
                background-color: var(--carmin-700);
                border: solid 0.25rem var(--carmin-700);
                color: var(--neutral-0);
                &:hover {
                    background-color: var(--carmin-600);
                    border: solid 0.25rem var(--carmin-600);
                    text-decoration: none;
                }
            }
        }


        //spacing
        //resolution
        @media only screen and (min-width: 1280px) {
            --screen: 1280px;
            --padding-h: 2.5rem;
            --padding-v: 7rem;
        }

        @media only screen and (max-width: 1280px) {
            --screen: 1280px;
            --padding-h: 2.5rem;
            --padding-v: 7rem;
        }

        @media only screen and (max-width: 768px) {
            --screen: 768px;
            --padding-h: 1rem;
            --padding-v: 3.5rem;
            h1.displayLarge, span.displayLarge {
                font-size: 3.75rem;
            }
    
            h1.displaySmall, h2.displaySmall, span.displaySmall {
                font-size: 2rem;
            }
    
            h1 {
                font-size: 2.5rem;
            }
            
            h2 {
                font-size: 2rem;
            }
            
            h3 {
                font-size: 1.75rem;
            }
            
            h4 {
                font-size: 1.5rem;
            }
            
            h5 {
                font-size: 1.25rem;
            }
            
            h6 {
                font-size: 1.125rem;
            }
            .mainContainer {
                min-height: calc(100vh - 72px - 66px);
                background-color: var(--carmin-50);
            }
        }

        @media only screen and (max-width: 480px) {
            --padding-h: 0.5rem;
            --padding-v: 2rem;
            .button {
                font-size: 1rem;
                padding: 0.75em 1em;
            }
        }

    /*}
    [data-theme="dark"] {}*/
}

//Projet Detail Component injection
#projet {
    .content {
        padding-block: var(--padding-v);
    }
    #labels {
        color: var(--neutral-600);
        font-weight: 500;
        font-style: oblique 5deg;
        margin: 0 0 8px 0;
    }
    #description {
        margin-bottom: 2.5rem;
        font-weight: 500;
    }  
    .banner {
        object-fit: cover;
        object-position: center;
        image-rendering: auto;
        width: 100%;
        border-radius: 8px;
        margin: 1rem 0;
    }
    .grid .banner {
        margin: 0;
    }
    .contentProjetDetail {
        max-width: 768px;
        margin: 0 auto 0 auto;
    }
    .lien {
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }
    .lienImage {
        margin-right: 8px;
    }
    
}