#projet {
    min-height: calc(100vh - 88px);
    padding-block: var(--padding-v);
    padding-top: 88px;
    .headerProjetDetail {
        .infoProject {
            display: flex;
            div {
                display: block;
            }
        }
    } 
    .infoProject {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        div {
            flex-grow: 1;
            span {
                display: block;
            }
            a {
                display: flex;
                align-items: center;   
                gap: 0.5rem;
                border-bottom: 1px solid transparent;
                line-height: 1.5;
                font-weight: 600;
                border-bottom: 2px solid var(--primary);
                width: fit-content;
                &:hover {
                    color: var(--secondary);
                    border-bottom: 2px solid var(--secondary);
                    text-decoration: none;
                }
            }
        }
        
    }
    .banner {
        object-fit: cover;
        object-position: center;
        image-rendering: auto;
        width: 100%;
        border-radius: 8px;
        margin: 1rem 0;
    }
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
    .grid .banner {
        margin: 0;
    }
    .contentProjetDetail {
        max-width: 768px;
        margin: 0 auto 0 auto;
    }
    .lien {
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }
    .lienImage {
        margin-right: 8px;
    }
}
@media screen and (max-width: 768px) {
    #hero {
        min-height: calc(100vh - 64px);
        padding-top: 0;
    }
}