<ng-container *ngIf="!isNotFound; else notFoundTemplate">
    <section class="container" id="projet-detail">
        <div class="content">
            <!-- Header section -->
            <div class="headerProjetDetail headingSection">
                <h1 class="noMargin">{{ projet?.title }}</h1>
                <p class="bodyLarge subtitle">{{ projet?.description }}</p>
                <div class="infoProject">
                    <div class="customer" *ngIf="projet?.customer">
                        <span class="bodyLarge label colorVariant">Client</span>
                        <span class="bodyLarge emphase">{{ projet?.customer }}</span>
                    </div>
                    <div class="role" *ngIf="projet?.roles">
                        <span class="bodyLarge label colorVariant">Rôle</span>
                        <span class="bodyLarge emphase">{{ projet?.roles?.join(', ') }}</span>
                    </div>
                    <div class="date" *ngIf="projet?.date">
                        <span class="bodyLarge label colorVariant">Date</span>
                        <span class="bodyLarge emphase">{{ projet?.date }}</span>
                    </div>
                    <div class="result" *ngIf="projet?.resultUrl">
                        <span class="bodyLarge label colorVariant">Livrable final</span>
                        <a href="{{ projet?.resultUrl }}" target="_blank" class="bodyLarge emphase">Voir le livrable <lucide-icon [img]="ExternalLink" [size]="20" class="iconLucide"></lucide-icon></a>
                    </div>
                </div>
            </div>
            <div class="banner" *ngIf="projet?.imageBannerUrl">
                <app-optimized-image 
                    [src]="projet!.imageBannerUrl"
                    [alt]="projet?.imageBannerAlt || 'Image du projet'"
                    class="banner-image"
                    [priority]="true"
                ></app-optimized-image>
            </div>
            <!-- Content section -->
            <div class="contentProjetDetail" *ngIf="this.blocks.length > 0; else loading">
                <ng-container *ngFor="let block of blocks">
                    <ng-container [ngSwitch]="block.type">
                        <ul *ngSwitchCase="'bulleted_list_item'">
                            <li *ngFor="let item of isIterable(block.content) ? block.content : []">
                                <ng-container *ngIf="isArray(item)">
                                    <app-formatted-text *ngFor="let segment of item" 
                                        [segment]="segment"
                                        [blockType]="block.type">
                                    </app-formatted-text>
                                </ng-container>
                                <ng-container *ngIf="!isArray(item)">{{ item }}</ng-container>
                            </li>
                        </ul>
                    
                        <ol *ngSwitchCase="'numbered_list_item'">
                            <li *ngFor="let item of isIterable(block.content) ? block.content : []">
                                <ng-container *ngIf="isArray(item)">
                                    <app-formatted-text *ngFor="let segment of item" 
                                        [segment]="segment"
                                        [blockType]="block.type">
                                    </app-formatted-text>
                                </ng-container>
                                <ng-container *ngIf="!isArray(item)">{{ item }}</ng-container>
                            </li>
                        </ol>

                        <div class="grid" *ngSwitchCase="'image'">
                            <ng-container *ngFor="let item of isIterable(block.content) ? block.content : []">
                                <ng-container *ngIf="isArray(item)">
                                    <app-optimized-image 
                                        *ngFor="let img of item"
                                        [src]="img.plain_text"
                                        [alt]="'Image'"
                                        [priority]="false"
                                        class="banner zoom"
                                        (click)="openImage(img.plain_text)"
                                    ></app-optimized-image>
                                </ng-container>
                                <ng-container *ngIf="!isArray(item)">
                                    <app-optimized-image 
                                        class="banner zoom"
                                        [src]="item"
                                        [alt]="'Image'"
                                        [priority]="false"
                                        (click)="openImage(item)"
                                    ></app-optimized-image>
                                </ng-container>
                            </ng-container>
                        </div>
                    
                        <p *ngSwitchCase="'paragraph'">
                            <ng-container *ngIf="isArray(block.content)">
                                <app-formatted-text *ngFor="let segment of block.content" 
                                    [segment]="segment"
                                    [blockType]="block.type">
                                </app-formatted-text>
                            </ng-container>
                            <ng-container *ngIf="!isArray(block.content)">{{ block.content }}</ng-container>
                        </p>
                        <h2 *ngSwitchCase="'heading_1'">
                            <ng-container *ngIf="isArray(block.content)">
                                <app-formatted-text *ngFor="let segment of block.content" [segment]="segment"></app-formatted-text>
                            </ng-container>
                            <ng-container *ngIf="!isArray(block.content)">{{ block.content }}</ng-container>
                        </h2>
                        <h3 *ngSwitchCase="'heading_2'">
                            <ng-container *ngIf="isArray(block.content)">
                                <app-formatted-text *ngFor="let segment of block.content" [segment]="segment"></app-formatted-text>
                            </ng-container>
                            <ng-container *ngIf="!isArray(block.content)">{{ block.content }}</ng-container>
                        </h3>
                        <h4 *ngSwitchCase="'heading_3'">
                            <ng-container *ngIf="isArray(block.content)">
                                <app-formatted-text *ngFor="let segment of block.content" [segment]="segment"></app-formatted-text>
                            </ng-container>
                            <ng-container *ngIf="!isArray(block.content)">{{ block.content }}</ng-container>
                        </h4>
                        <hr *ngSwitchCase="'divider'"/>
                        <blockquote *ngSwitchCase="'quote'">
                            <ng-container *ngIf="isArray(block.content)">
                                <app-formatted-text *ngFor="let segment of block.content" [segment]="segment"></app-formatted-text>
                            </ng-container>
                            <ng-container *ngIf="!isArray(block.content)">{{ block.content }}</ng-container>
                        </blockquote>
                        <pre *ngSwitchCase="'code'"><code>
                            <ng-container *ngIf="isArray(block.content)">
                                <app-formatted-text *ngFor="let segment of block.content" [segment]="segment"></app-formatted-text>
                            </ng-container>
                            <ng-container *ngIf="!isArray(block.content)">{{ block.content }}</ng-container>
                        </code></pre>
                        <div *ngSwitchDefault>
                            Unsupported block type: {{ block.type }}
                        </div>
                  </ng-container>
                </ng-container>
            </div>
        </div>
    </section>
    <app-projet-others></app-projet-others>
    <app-top-scroll-button url="#projet-detail"><lucide-icon [img]="CircleChevronUp" [size]="32" id="topScrollButton" class="iconLucide"></lucide-icon></app-top-scroll-button>
    <app-lightbox></app-lightbox>

    <ng-template #loading>
        <p>Loading...</p>
    </ng-template>
</ng-container>

<ng-template #notFoundTemplate>
    <app-not-found></app-not-found>
</ng-template>
